.electro-group{
  position: absolute;
  width: 42.81%;
  height: 73.47%;
  top: 0%;
  left: 57.19%;
  background: 
  url('../assets/home/HOME.png') no-repeat center,
  url(http://localhost:3000/static/media/40112de2-26a5-45b9-a36c-1861ba3d2d4c.15e8544….png) no-repeat center;
  background-size: 100% 100%;
  z-index: 451;
}

.about-header{
  font-size: 30px;
}
.about-text{
  font-size: 14px;
}
.it-dron{
  font-size: 30px;
  font-weight: 600;
}
.it-dronp , .it-auto{
  font-size: 18px;
  text-align: left;
}
.it-auto1{
  font-size: 18px;
  text-align: right;
}
@media (max-width:767px){
  .about-us-image-1{
    width: 70% ;
    transform: rotate(90deg);
    left: -80px !important;
    bottom: 65px !important;
  }
  .about-us-image{
    width: 70% ;
    transform: rotate(-90deg);
    right: -80px !important;
      top: 50px;
  }
  }

@media (max-width:768px){
.home-text{
  margin-top: 0;
}
.elctro-text-1{
  font-size:2rem !important ;
}

.menu-icon{
  order: 1;
}
.home-image{
  width: 70% !important;
  display: block !important;
}
.social-media{
  display: none;
}
.title{
  z-index: 2 !important;
}
.service-button{
  z-index: 2 !important;
}


.map-image{
  order: 1;
}

.home-header{
  font-size: 28px !important;
}
.home-title{
  font-size: 22px !important;
}
.home-description{
  font-size: 15px !important;
}
.service-bottom {
  margin-bottom: 0px !important;
}
.about-header{
  font-size: 28px;
}
.about-text{
  font-size: 10px ;
}
.about-title{
  font-size: 18px !important;
}
.electro-title, .electro-des{
  font-size: 28px !important;
}
.it-title{
font-size: 28px !important;
}
.it-des{
  font-size: 28px !important;
  }
.harware-text{
  font-size: 13px;
}
.it-dronp{
  font-size: 11px;
}
.it-auto{
  font-size: 11px;
}
.it-auto1{
  font-size: 11px;
}
.dron-image{
  width: 100% !important;
}
.auto-image{
  border-radius: 0px !important;
}
.drone-text{
  font-size: 12px;
}
.drone-image-2{
  display: none;
}
}

@media(max-width:768px){
.backgroun-image-all{
  height: 100vh;
}

}

@media(min-width:1024px){
  .backgroun-image-all{
    height: 75vh;
  }
  }

  @media(min-width:1440px){
    .backgroun-image-all{
      height: 79vh;
    }
    }